body{
    background-color: black;
}

#webfinder1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#SecureSearch1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



#urlForm{
    text-align: center;
    label{
        font-family: Arial, Helvetica, sans-serif;
    }
    input{
        background-color: grey;
        border-radius: 7px;
        height: 30px;
        width: 200px;
    }
    button{
        border-radius: 7px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

#idValue{
    font-family: Arial, Helvetica, sans-serif;
}










footer{
  /* Define your footer's height, background, etc. */
  height: [footer-height-value]; 
  /* Add other styling for a nice look */
   background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  backdrop-filter: blur(50px); /* Blurs the background content */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle white border */
  border-radius: 10px; /* Rounded corners */
  color: white;
  text-indent: 10px;
  padding: 20px;
  clear: both;
  position: relative;
  height: 90px;
  margin-top: 560px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  vertical-align: middle;
  bottom: 0px;
  width: 100%;

  #fp1{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
  }
  #fp3{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
  }

  #fp4{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
  }

  #fp2{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
  }
  
}
